azure-identity==1.15
azure-keyvault==4.2
azure-storage-blob
faiss-cpu==1.12.0
langchain==0.1
langchain-community== 0.0.13
langchain-openai==0.0.2
openai==1.61.1
pre-commit==3.8.0
streamlit==1.45.0
streamlit-feedback==0.1.3
tiktoken==0.5.2
python-dotenv==1.1.0
pymsteams==0.2.2